<div class="container">
  <div class="jumbotron text-center">
        <h1>Welcome to PaymentCalc!</h1>
        <p>Please log in or sign up to access your information.</p>
        <button><a href="/signup">Sign Up!</a></button>
        <button><a href="/login">Log In</a></button>
  </div>
</div>
